<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="content-language" content="en" />

  <!-- SEO -->
  <title>Website</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">

  <!-- Social Sharing Info -->
  <meta property="og:url" content="__SHARING_URL__" />
  <meta property="og:title" content="__SHARING_TITLE_GOES_HERE__" />
  <meta property="og:description" content="__SHARING_DESCRIPTION_GOES_HERE__" />
  <meta property="og:image" content="" />
  <meta property="og:image:width" content="1200" /> <!-- Full HD: WIDTH -->
  <meta property="og:image:height" content="630" /> <!-- Full HD: HEIGHT -->
  <meta property="fb:app_id" content="" />

  <meta name="webroot" content="@@webRoot" />

  <!-- Viewport and mobile -->
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">

  <!-- FAVICON -->
  <link rel="image_src" href="./images/favicon.ico" />
  <link rel="icon" type="image/gif" href="./images/favicon.ico" />

  <!-- CSS: Stylesheet for the website -->
  <!-- Generated CSS by Sass -->
  <link rel="stylesheet" href="css/main.css">

  <link rel="preload" href="css/pure.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link rel="stylesheet" href="css/pure.css"></noscript>
  <link rel="preload" href="css/helper.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link rel="stylesheet" href="css/helper.css"></noscript>

  <!-- <link rel="stylesheet" href="css/pure.css">
  <link rel="stylesheet" href="css/helper.css"> -->

  <!-- Pure CSS for backend backup -->
  <!-- <link rel="stylesheet" href="css/pure.css"> -->
</head>