<header>

<nav>


  
        <ul id="nav">
          <li><a href="" class="active">Menu 1</a></li>
          <li><a href="">Menu 2</a></li>
          <li><a href="">Menu 3</a></li>
          <li><a href="">Menu 4</a></li>
        </ul>
      </nav>

    </header>
