// Accent colors --------------------------------------------------------------

// Greys ----------------------------------------------------------------------

$white: #fff;
$black: #000;
$red: #f00;

$base-bg-color: #fff;
$base-font-color: #000;
$selection-background: #ccc;
$placeholder-color: $black !default;
$border-color: #ccc;

// Reporting ------------------------------------------------------------------
//
// Using in the Reporting module (module/_reporting.scss)

$reporting-text: #333;

$reporting-success: #a2d69a;
$reporting-success-light: #def1dd;
$reporting-error: #f39b88;
$reporting-error-light: #fadcd7;
$reporting-warning: #f7e287;
$reporting-warning-light: #fcf5d6;
$reporting-info: #90b1d2;
$reporting-info-light: #dae5f0;

// Font-stack -----------------------------------------------------------------
//

$font-stack: 'Montserrat Black', Helvetica, Verdana, Roboto, sans-serif;
$letter-space: normal;
$font-smoothing: subpixel-antialiased !default;

@if $locale == 'ja' {
  $font-stack: Helvetica Neue, Helvetica, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', 'MS PGothic', 'メイリオ', Meiryo, sans-serif;
  $letter-space: .02rem;
} @else if $locale == 'zh'{
  $font-stack: Helvetica Neue, Helvetica, '宋体', Helvetica, sans-serif;
  $letter-space: normal;
}



// Webkit tap highlight color for mobile
$webkit-tap-highlight-color: rgba(0, 0, 0, .13);

/*
 *  Links color
 */
$link-color: $red;
$link-color-hover: darken($link-color, 10);
$link-color-visited: $link-color-hover;
$link-color-focus: darken($link-color-hover, 10);
$link-hover-effect: .1s;



