/*
 * typography.scss
 *
 * $Rev:: 13112         $:  Revision of last commit
 * $Author:: lilee      $:  Author of last commit
 * $Date:: 2014-07-30 1#$:  Date of last commit
*/

@font-face {
  font-family: 'VNFGotham';
  src: url('../fonts/VNFGotham.eot');
  src: url('../fonts/VNFGotham.eot') format('embedded-opentype'),
       url('../fonts/VNFGotham.woff2') format('woff2'),
       url('../fonts/VNFGotham.woff') format('woff'),
       url('../fonts/VNFGotham.ttf') format('truetype'),
       url('../fonts/VNFGotham.svg#VNFGotham') format('svg');
  font-display: swap;
}

@font-face {
  font-family: "Montserrat Black";
  src: url('../fonts/Montserrat-Black.eot');
  src: url('../fonts/Montserrat-Black.eot') format('embedded-opentype'),
       url('../fonts/Montserrat-Black.woff2') format('woff2'),
       url('../fonts/Montserrat-Black.woff') format('woff'),
       url('../fonts/Montserrat-Black.ttf') format('truetype'),
       url('../fonts/Montserrat-Black.svg#Montserrat-Black') format('svg');
  font-display: swap;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-stack;
}

h1 {
  font-size: em(40);
  line-height: (42/40);
}

h2 {
  font-size: em(26);
  line-height: (30/26);
}

h3 {
  font-size: em(24);
  line-height: (28/24);
}

h4 {
  font-size: em(20);
  line-height: (24/20);
}

h5 {
  font-size: em(18);
  line-height: (24/18);
}

h6 {
  font-size: em(14);
  line-height: (20/14);
}


strong {
  font-weight: bold;
}


sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

a {
  transition: transform 1s;
  background: linear-gradient(to top, black, white);
  display: flex
}
